<form [formGroup]="forecastForm">
    <table class="mat-elevation-z8">

        <thead>
            <tr>
                <td> Number of subjects</td>
                <td>Source</td>
            </tr>
        </thead>

        <tbody formArrayName="forecastFormArray">
            <tr *ngFor="let f of forecast.controls; let i = index;" [formGroupName]="i">
                <td>  <input matInput type="text" formControlName="subjects"> </td>
                <td> {{f.get('source').value}} </td>
            </tr>
        </tbody>
    </table>

</form>