<h2>{{title}}</h2>

<div class="container">
  <div class="row-header"></div>
  <div class="row">
    <div class="col-3">
      <app-countries [forecast]="forecast"></app-countries>
    </div>
    <div class="col-3">
      <app-quantity [forecast]="forecast" [columnTitle]="quantityColumnTitle"></app-quantity>
    </div>
    <div class="col-3">
      <app-cpp-total [forecast]="forecast" ></app-cpp-total>
    </div>
    <div class="col-3">
      <app-total-cost [forecast]="forecast" ></app-total-cost>
    </div>
  </div>
</div>

<br>
<br>

<app-totals-section></app-totals-section>